:root {
    --text-color: #2D3436;
    --background-color: #ffffff;
    --base-font: 'Noto Sans JP';
    --second-font: 'sans-selif';
}

html, body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.top {
    margin: 0;
    padding: 1em 0;
    display: flex;
    height: 3em;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    font-family: var(--base-font), var(--second-font);
    background-color: var(--background-color);
    border-bottom: 1px solid #c7c7c7;
    top: 0;
}

.logo {
    margin: 0;
    margin-left: 10%;
    font-size: 2.3em;
    font-family: var(--base-font), var(--second-font);
    width: 30%;
    transition: all 0.3s ease;
    font-weight: 700;
}

.menu-list {
    height: 3.5em;
    width: 55%;
    display: flex;
    align-items: center;
}

.menu-list a {
    text-decoration: none;
}

.menu-text {
    font-size: 1.5em;
    font-family: var(--base-font), var(--second-font);
    color: var(--text-color);
    position: relative;
    transition: color 0.3s ease;
    font-weight: 700;
}

.menu-text::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -25px;
    left: 0;
    background-color: black;
    transition: width 0.3s ease;
}

.menu-text:hover {
    color: var(--text-color);
}

.menu-text:hover::after {
    width: 100%;
}

.menu-text-box {
    margin-left: 10%;
}
