.main {
    margin-top: 5.5em;
}

.main-text {
    text-align: center;
    font-size: 1.5em;
    font-family: var(--base-font), var(--second-font), var(--sub-font);
    margin: 0.5em 0;
    line-height: 1.6;
}
.blog-text-box {
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    border-bottom: 1px solid black;
}
.blog-text {
    text-align: center;
    font-size: 2.3em;
    padding-top: 1em;
    margin-bottom: 0.5em;
    font-family: var(--base-font), var(--second-font), var(--sub-font);
    color: var(--text-color);
    font-weight: bold;
}
.blog-list {
    margin: 2em auto;
    padding: 2em;
    min-height: 100vh;
    background-color: var(--second-color);
    display: grid;
    grid-template-columns: repeat(3, 360px); /* 2列で480pxずつ */
    gap: 2em; /* カード間の間隔 */
    justify-content: center; /* 中央寄せ */
    align-content: start; /* 上から配置開始 */
}

.blog {
    height: 360px;
    width: 400px;
    background-color: white;
    margin: 0; /* マージンを削除 */
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.blog-image {
    width: 400px;
    height: 200px;
    object-fit: cover;
}
.blog-title {
    font-size: 1.5em;
    font-family: var(--base-font), var(--second-font), var(--sub-font);
    text-align: center;
    margin-top: 0.5em;
    font-weight: 700;
}
.blog-time {
    font-size: 1em;
    font-family: var(--base-font), var(--second-font), var(--sub-font);
    text-align: left;
    color: #c7c7c7;
    margin-left: 5%;
}
/* レスポンシブデザイン */
@media (max-width: 3000px) {
    .blog-list {
        grid-template-columns: repeat(5, 1fr); /* 2列表示に変更 */
    }
}
@media (max-width: 2400px) {
    .blog-list {
        grid-template-columns: repeat(4, 1fr); /* 2列表示に変更 */
    }
}
@media (max-width: 1800px) {
    .blog-list {
        grid-template-columns: repeat(3, 1fr); /* 2列表示に変更 */
    }
}
/* レスポンシブデザイン */
@media (max-width: 1200px) {
    .blog-list {
        grid-template-columns: repeat(2, 1fr); /* 2列表示に変更 */
    }
}

@media (max-width : 800px) { /* 700px以下で1列表示に変更 */
    .blog-list {
        grid-template-columns: 1fr; /* 1列表示に変更 */
    }
    .blog {
        width: calc(100% - 2em); /* 左右のマージン分を引く */
        box-sizing: border-box; /* パディングとボーダーを含める */
    }
    .blog-image {
        width: 100%;
    }
}