.main {
    min-height: 100vh;
    background-color: var(--second-color);;
}

.blog-title {
    text-align: left;
    font-size: 2em;
    font-family: var(--base-font), var(--second-font), var(--sub-font);
    margin: 0.5em 0;
    line-height: 1.6;
    margin-bottom: 0.3em;
}
.blog {
    width: 30%;
    margin-left: 30%;
    margin-right: 30%;
    min-height: 200px;
    background-color: var(--background-color);
}
.blog-date {
    margin-top: 0em;
    font-family: var(--base-font), var(--second-font), var(--sub-font);
    font-size: 1.0em;
    color: gray;
}
.blog-text {
    font-family: var(--base-font), var(--second-font), var(--sub-font);
    font-size: 1.2em;
    font-weight: 500;
}
.blog-image {
    margin-top: 5%;
    margin-bottom: 3%;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
}